# IMPORT PACKAGES

In [1]:
import pandas as pd
import numpy as np
import json
import requests

# IMPORT DATA API (KOREAN IDOLS)

In [2]:
data=pd.read_csv("korean_idols.csv")
data

  Stage Name          Full Name       Birth
0         IU          Lee Jieun  1993-05-16
1     Jennie         Kim Jennie  1996-01-16
2       Lisa  Pranpriya Manoban  1997-03-27
3      Jihyo         Park Jisoo  1997-02-01
4       Sana    Minatozaki Sana  1996-12-29
5      Tzuyu         Chou Tzuyu  1999-06-14
6     Dahyun         Kim Dahyun  1998-05-28
7        Bom           Park Bom  1984-03-24
8   Jungkook      Jeon Jungkook  1997-09-01
9          V       Kim Taehyung  1995-12-30

# GET DATA API

Because in data API resource has Required Parameters, so when we want to get complete data we must combine data with gender "female" and "male".

## API DATA WITH FEMALE GENDER

In [3]:
url = "https://k-pop.p.rapidapi.com/idols"

querystring = {"q": "F" ,"by":"Gender"}

headers = {
	"X-RapidAPI-Key": "bb906def2fmshf29d9086e860506p136661jsn2321bd876c5b",
	"X-RapidAPI-Host": "k-pop.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)

data1=response.json()
df= pd.json_normalize(data1, 'data')
df

,Profile,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight,Birthplace,Other Group,Former Group,Gender,Position,Instagram,Twitter
0,https://dbkpop.com/idol/taeyeon-girls-generation/,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,None,160,44,Jeonju,"TTS, Oh!GG",None,F,"Leader, Main Vocalist",https:/www.instagram.com/taeyeon_ss,None
1,None,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,None,158,43,California,None,None,F,None,https:/www.instagram.com/svnnynight,None
2,None,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50,San Francisco,TTS,None,F,None,https:/www.instagram.com/xolovestephi,None
3,None,Hyoyeon,Kim Hyoyeon,김효연,효연,1989-09-22,SNSD,South Korea,None,158,48,Incheon,None,None,F,None,https:/www.instagram.com/watasiwahyo,None
4,None,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,None,167,45,Goyang,None,None,F,None,https:/www.instagram.com/yulyulk,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
783,None,Ririka,Kishida Ririka,키시다 리리카,리리카,2002-07-02,ILY:1,Japan,None,162,0,None,None,None,F,None,None,None
784,None,Nayu,Kim Yewon,김예원,나유,2002-07-23,ILY:1,South Korea,None,0,0,None,None,None,F,None,None,None
785,None,Elva,Lee Yonghwa,이용화,엘바,2003-05-05,ILY:1,South Korea,None,0,0,None,None,None,F,None,None,None
786,None,Lily,Lily Jin Morrow,릴리 진 머로우,릴리,2002-10-17,NMIXX,Australia,South Korea,0,0,Marysville,None,None,F,None,None,None
787,None,Haewon,Oh Haewon,오해원,해원,2003-02-25,NMIXX,South Korea,None,0,0,None,None,None,F,None,None,None

## API DATA WITH MALE GENDER

In [4]:
url = "https://k-pop.p.rapidapi.com/idols"

querystring = {"q": "M" ,"by":"Gender"}

headers = {
	"X-RapidAPI-Key": "bb906def2fmshf29d9086e860506p136661jsn2321bd876c5b",
	"X-RapidAPI-Host": "k-pop.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)

data2=response.json()
df1= pd.json_normalize(data2, 'data')
df1

,Profile,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight,Birthplace,Other Group,Former Group,Gender,Position,Instagram,Twitter
0,None,T.O.P,Choi Seunghyun,최승현,탑,1987-11-04,BIGBANG,South Korea,None,180,65,Seoul,GD&TOP,None,M,None,None,None
1,None,Taeyang,Dong Youngbae,동영배,태양,1988-05-18,BIGBANG,South Korea,None,174,56,Uljeongbu,None,None,M,None,None,None
2,None,G-Dragon,Kwon Jiyong,권지용,지드래곤,1988-08-18,BIGBANG,South Korea,None,177,58,Seoul,GD&TOP,None,M,None,None,None
3,None,Daesung,Daesung,강대성,대성,1989-04-26,BIGBANG,South Korea,None,178,63,Incheon,None,None,M,None,None,None
4,None,Seungri,Lee Seunghyun,이승현,승리,1990-12-12,BIGBANG,South Korea,None,176,60,Gwangju,None,None,M,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,None,Hyuk,Koo Bonhyuk,구본혁,혁,2000-04-17,TEMPEST,South Korea,None,0,0,None,None,None,M,None,None,None
802,None,Lew,Lee Euiwoong,이의웅,루,2001-04-05,TEMPEST,South Korea,None,170,55,None,HyeongseopXEuiwoong,None,M,None,None,None
803,None,Hwarang,Son Jaewon,송재원,화랑,2001-04-23,TEMPEST,South Korea,None,179,61,None,None,None,M,None,None,None
804,None,Eunchan,Choi Byeongseop,최병섭,은찬,2001-02-27,TEMPEST,South Korea,None,184,0,None,None,None,M,None,None,None
805,None,Taerae,Kim Taerae,김태래,태래,2002-09-05,TEMPEST,South Korea,None,0,0,None,None,None,M,None,None,None

## COMBINE DATA API FEMALE & MALE

In [5]:
korean_idols = pd.concat([df,df1])
korean_idols

,Profile,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight,Birthplace,Other Group,Former Group,Gender,Position,Instagram,Twitter
0,https://dbkpop.com/idol/taeyeon-girls-generation/,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,None,160,44,Jeonju,"TTS, Oh!GG",None,F,"Leader, Main Vocalist",https:/www.instagram.com/taeyeon_ss,None
1,None,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,None,158,43,California,None,None,F,None,https:/www.instagram.com/svnnynight,None
2,None,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50,San Francisco,TTS,None,F,None,https:/www.instagram.com/xolovestephi,None
3,None,Hyoyeon,Kim Hyoyeon,김효연,효연,1989-09-22,SNSD,South Korea,None,158,48,Incheon,None,None,F,None,https:/www.instagram.com/watasiwahyo,None
4,None,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,None,167,45,Goyang,None,None,F,None,https:/www.instagram.com/yulyulk,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,None,Hyuk,Koo Bonhyuk,구본혁,혁,2000-04-17,TEMPEST,South Korea,None,0,0,None,None,None,M,None,None,None
802,None,Lew,Lee Euiwoong,이의웅,루,2001-04-05,TEMPEST,South Korea,None,170,55,None,HyeongseopXEuiwoong,None,M,None,None,None
803,None,Hwarang,Son Jaewon,송재원,화랑,2001-04-23,TEMPEST,South Korea,None,179,61,None,None,None,M,None,None,None
804,None,Eunchan,Choi Byeongseop,최병섭,은찬,2001-02-27,TEMPEST,South Korea,None,184,0,None,None,None,M,None,None,None
805,None,Taerae,Kim Taerae,김태래,태래,2002-09-05,TEMPEST,South Korea,None,0,0,None,None,None,M,None,None,None

In [6]:
ikorean_idols = korean_idols.reset_index(drop=True)
ikorean_idols

,Profile,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight,Birthplace,Other Group,Former Group,Gender,Position,Instagram,Twitter
0,https://dbkpop.com/idol/taeyeon-girls-generation/,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,None,160,44,Jeonju,"TTS, Oh!GG",None,F,"Leader, Main Vocalist",https:/www.instagram.com/taeyeon_ss,None
1,None,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,None,158,43,California,None,None,F,None,https:/www.instagram.com/svnnynight,None
2,None,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50,San Francisco,TTS,None,F,None,https:/www.instagram.com/xolovestephi,None
3,None,Hyoyeon,Kim Hyoyeon,김효연,효연,1989-09-22,SNSD,South Korea,None,158,48,Incheon,None,None,F,None,https:/www.instagram.com/watasiwahyo,None
4,None,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,None,167,45,Goyang,None,None,F,None,https:/www.instagram.com/yulyulk,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1589,None,Hyuk,Koo Bonhyuk,구본혁,혁,2000-04-17,TEMPEST,South Korea,None,0,0,None,None,None,M,None,None,None
1590,None,Lew,Lee Euiwoong,이의웅,루,2001-04-05,TEMPEST,South Korea,None,170,55,None,HyeongseopXEuiwoong,None,M,None,None,None
1591,None,Hwarang,Son Jaewon,송재원,화랑,2001-04-23,TEMPEST,South Korea,None,179,61,None,None,None,M,None,None,None
1592,None,Eunchan,Choi Byeongseop,최병섭,은찬,2001-02-27,TEMPEST,South Korea,None,184,0,None,None,None,M,None,None,None
1593,None,Taerae,Kim Taerae,김태래,태래,2002-09-05,TEMPEST,South Korea,None,0,0,None,None,None,M,None,None,None

# CHECKING DATA

Checking data csv that was available to API Data

In [7]:
full_names= data.iloc[:,1].to_list()
full_names

['Lee Jieun',
 'Kim Jennie',
 'Pranpriya Manoban',
 'Park Jisoo',
 'Minatozaki Sana',
 'Chou Tzuyu',
 'Kim Dahyun',
 'Park Bom',
 'Jeon Jungkook',
 'Kim Taehyung']

In [8]:
data_finish=ikorean_idols[ikorean_idols['Full Name'].isin(full_names)]
data_finish

,Profile,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight,Birthplace,Other Group,Former Group,Gender,Position,Instagram,Twitter
10,None,Bom,Park Bom,박봄,봄,1984-03-24,2NE1,South Korea,None,0,0,None,None,None,F,None,https:/www.instagram.com/haroobommi,None
63,https://dbkpop.com/idol/jihyo/,Jihyo,Park Jisoo,박지수,지효,1997-02-01,Twice,South Korea,None,162,0,Guri,None,None,F,"Leader, Main Vocal",None,None
67,https://dbkpop.com/idol/sana/,Sana,Minatozaki Sana,미나토자키 사나,사나,1996-12-29,Twice,Japan,None,168,0,Osaka,None,None,F,None,None,None
69,https://dbkpop.com/idol/dahyun/,Dahyun,Kim Dahyun,김다현,다현,1998-05-28,Twice,South Korea,None,165,0,Seongnam,None,None,F,None,None,None
71,https://dbkpop.com/idol/tzuyu/,Tzuyu,Chou Tzuyu,저우쯔위,쯔위,1999-06-14,Twice,Taiwan,None,169,0,Tainan,None,None,F,None,None,None
112,None,IU,Lee Jieun,이지은,아이유,1993-05-16,None,South Korea,None,162,0,Seoul,None,None,F,None,https:/www.instagram.com/dlwlrma,None
166,https://dbkpop.com/idol/jennie-blackpink/,Jennie,Kim Jennie,김제니,제니,1996-01-16,BLACKPINK,South Korea,None,163,50,Anyang,None,None,F,None,None,None
168,https://dbkpop.com/idol/lisa-blackpink/,Lisa,Pranpriya Manoban,쁘란쁘리야 마노반,리사,1997-03-27,BLACKPINK,Thailand,None,170,46,Bangkok,None,None,F,None,None,None
854,https://dbkpop.com/idol/v-bts/,V,Kim Taehyung,김태형,뷔,1995-12-30,BTS,South Korea,None,179,62,Daegu,None,None,M,None,None,None
855,https://dbkpop.com/idol/jungkook-bts/,Jungkook,Jeon Jungkook,전정국,정국,1997-09-01,BTS,South Korea,None,178,66,Busan,None,None,M,None,None,None
918,https://dbkpop.com/idol/jseph-kard/,J.seph,Kim Taehyung,김태형,제이셉,1992-06-21,KARD,South Korea,USA,0,0,None,None,None,M,None,None,None

It can be seen that data csv "korean_idols" existing in API Data (in top 10 rows). But, we have duplicate full name in last row, so we want to drop that row.

In [11]:
data_finish = data_finish.drop_duplicates(subset = 'Full Name').reset_index(drop=True)

In [12]:
data_finish

,Profile,Stage Name,Full Name,Korean Name,K. Stage Name,Date of Birth,Group,Country,Second Country,Height,Weight,Birthplace,Other Group,Former Group,Gender,Position,Instagram,Twitter
0,None,Bom,Park Bom,박봄,봄,1984-03-24,2NE1,South Korea,None,0,0,None,None,None,F,None,https:/www.instagram.com/haroobommi,None
1,https://dbkpop.com/idol/jihyo/,Jihyo,Park Jisoo,박지수,지효,1997-02-01,Twice,South Korea,None,162,0,Guri,None,None,F,"Leader, Main Vocal",None,None
2,https://dbkpop.com/idol/sana/,Sana,Minatozaki Sana,미나토자키 사나,사나,1996-12-29,Twice,Japan,None,168,0,Osaka,None,None,F,None,None,None
3,https://dbkpop.com/idol/dahyun/,Dahyun,Kim Dahyun,김다현,다현,1998-05-28,Twice,South Korea,None,165,0,Seongnam,None,None,F,None,None,None
4,https://dbkpop.com/idol/tzuyu/,Tzuyu,Chou Tzuyu,저우쯔위,쯔위,1999-06-14,Twice,Taiwan,None,169,0,Tainan,None,None,F,None,None,None
5,None,IU,Lee Jieun,이지은,아이유,1993-05-16,None,South Korea,None,162,0,Seoul,None,None,F,None,https:/www.instagram.com/dlwlrma,None
6,https://dbkpop.com/idol/jennie-blackpink/,Jennie,Kim Jennie,김제니,제니,1996-01-16,BLACKPINK,South Korea,None,163,50,Anyang,None,None,F,None,None,None
7,https://dbkpop.com/idol/lisa-blackpink/,Lisa,Pranpriya Manoban,쁘란쁘리야 마노반,리사,1997-03-27,BLACKPINK,Thailand,None,170,46,Bangkok,None,None,F,None,None,None
8,https://dbkpop.com/idol/v-bts/,V,Kim Taehyung,김태형,뷔,1995-12-30,BTS,South Korea,None,179,62,Daegu,None,None,M,None,None,None
9,https://dbkpop.com/idol/jungkook-bts/,Jungkook,Jeon Jungkook,전정국,정국,1997-09-01,BTS,South Korea,None,178,66,Busan,None,None,M,None,None,None