# IMPORT PACKAGES

In [1]:
import pandas as pd
import numpy as np
import json
import requests

# IMPORT DATA API (KOREAN IDOLS)

In [2]:
data=pd.read_csv("korean_idols.csv")
data

  Stage Name          Full Name       Birth
0         IU          Lee Jieun  1993-05-16
1     Jennie         Kim Jennie  1996-01-16
2       Lisa  Pranpriya Manoban  1997-03-27
3      Jihyo         Park Jisoo  1997-02-01
4       Sana    Minatozaki Sana  1996-12-29
5      Tzuyu         Chou Tzuyu  1999-06-14
6     Dahyun         Kim Dahyun  1998-05-28
7        Bom           Park Bom  1984-03-24
8   Jungkook      Jeon Jungkook  1997-09-01
9          V       Kim Taehyung  1995-12-30